[Desktop Entry]
Version=1.1
Type=Application
Name=Radio Streams VLC
GenericName=Radio Streams VLC
Comment=Displays list of Internet radio stations to choose from.
Icon=/usr/share/icons/nick/256x256/radio_streams_vlc.png
TryExec=xterm
Exec=xterm -fa "monofur" -fs 10 -geometry 90x60+0 -e /home/nick/.devpy/radio_streams_vlc/radio_streams_vlc.py
# Exec=/snap/bin/pypy3 /home/nick/.devpy/radio_streams_vlc/radio_streams_vlc.py
Path=/home/nick/.devpy/radio_streams_vlc/
Terminal=true
Actions=
Categories=Audio;Player;
